/*!////////////////////////////////////////////////
// BASE
/////////////////////////////////////////////////*/
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
iframe,
div,
section,
header,
p,
a,
ul,
ol,
li,
article,
footer,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.rwd-table {
  margin: 1em 0;
  min-width: 300px; }
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th, .rwd-table td {
    text-align: left; }
    @media (min-width: 480px) {
      .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em; }
        .rwd-table th:first-child, .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child, .rwd-table td:last-child {
          padding-right: 0; } }

/*!////////////////////////////////////////////////
// LAYOUT
/////////////////////////////////////////////////*/
.wrap {
  max-width: 1280px;
  width: 92%;
  margin: 0px auto;
  position: relative; }

.row {
  clear: both; }

@media screen and (min-width: 480px) {
  .wrap {
    width: 98%; }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-25,
  .grid-unit {
    float: left;
    width: 100%; }
    .grid-1:nth-child(n),
    .grid-2:nth-child(n),
    .grid-3:nth-child(n),
    .grid-4:nth-child(n),
    .grid-5:nth-child(n),
    .grid-6:nth-child(n),
    .grid-half:nth-child(n),
    .grid-full:nth-child(n),
    .grid-25:nth-child(n),
    .grid-unit:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-1:nth-child(1n),
    .grid-2:nth-child(1n),
    .grid-3:nth-child(1n),
    .grid-4:nth-child(1n),
    .grid-5:nth-child(1n),
    .grid-6:nth-child(1n),
    .grid-half:nth-child(1n),
    .grid-full:nth-child(1n),
    .grid-25:nth-child(1n),
    .grid-unit:nth-child(1n) {
      margin-right: 0; }
    .grid-1:last-child,
    .grid-2:last-child,
    .grid-3:last-child,
    .grid-4:last-child,
    .grid-5:last-child,
    .grid-6:last-child,
    .grid-half:last-child,
    .grid-full:last-child,
    .grid-25:last-child,
    .grid-unit:last-child {
      margin-right: 0; }

  .gallery .grid-unit,
  .grid-half {
    width: 49.24242%; }
    .gallery .grid-unit:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .gallery .grid-unit:nth-child(2n),
    .grid-half:nth-child(2n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-flow-opposite {
    float: right; } }
@media screen and (min-width: 640px) {
  .grid-1 {
    width: 15.40404%; }
    .grid-1:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-1:nth-child(6n) {
      margin-right: 0; }
    .grid-1:last-child {
      margin-right: 0; }

  .grid-2 {
    width: 32.32323%; }
    .grid-2:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-2:nth-child(3n) {
      margin-right: 0; }
    .grid-2:last-child {
      margin-right: 0; }

  .grid-3,
  .grid-half {
    width: 49.24242%; }
    .grid-3:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-3:nth-child(2n),
    .grid-half:nth-child(2n) {
      margin-right: 0; }
    .grid-3:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-4 {
    width: 66.16162%; }
    .grid-4:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-4:nth-child(1.5n) {
      margin-right: 0; }
    .grid-4:last-child {
      margin-right: 0; }

  .grid-5 {
    width: 82.74242%; }
    .grid-5:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-5:nth-child(1.20482n) {
      margin-right: 0; }
    .grid-5:last-child {
      margin-right: 0; }

  .grid-6,
  .grid-full {
    width: 100%; }
    .grid-6:nth-child(n),
    .grid-full:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-6:nth-child(1n),
    .grid-full:nth-child(1n) {
      margin-right: 0; }
    .grid-6:last-child,
    .grid-full:last-child {
      margin-right: 0; }

  /* If there are no margins */
  .grid-1.no-margin {
    width: 16.66667%; }
    .grid-1.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-1.no-margin:nth-child(6n) {
      margin-right: 0; }
    .grid-1.no-margin:last-child {
      margin-right: 0; }

  .grid-2.no-margin {
    width: 33.33333%; }
    .grid-2.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-2.no-margin:nth-child(3n) {
      margin-right: 0; }
    .grid-2.no-margin:last-child {
      margin-right: 0; }

  .grid-3.no-margin,
  .grid-half.no-margin {
    width: 50%; }
    .grid-3.no-margin:nth-child(n),
    .grid-half.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-3.no-margin:nth-child(2n),
    .grid-half.no-margin:nth-child(2n) {
      margin-right: 0; }
    .grid-3.no-margin:last-child,
    .grid-half.no-margin:last-child {
      margin-right: 0; }

  .grid-4.no-margin {
    width: 66.66667%; }
    .grid-4.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-4.no-margin:nth-child(1.5n) {
      margin-right: 0; }
    .grid-4.no-margin:last-child {
      margin-right: 0; }

  .grid-5.no-margin {
    width: 83.0%; }
    .grid-5.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-5.no-margin:nth-child(1.20482n) {
      margin-right: 0; }
    .grid-5.no-margin:last-child {
      margin-right: 0; }

  .grid-6.no-margin,
  .grid-full.no-margin {
    width: 100%; }
    .grid-6.no-margin:nth-child(n),
    .grid-full.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-6.no-margin:nth-child(1n),
    .grid-full.no-margin:nth-child(1n) {
      margin-right: 0; }
    .grid-6.no-margin:last-child,
    .grid-full.no-margin:last-child {
      margin-right: 0; }

  .grid-25 {
    width: 23.86364%; }
    .grid-25:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-25:nth-child(4n) {
      margin-right: 0; }
    .grid-25:last-child {
      margin-right: 0; }

  .grid-25.no-margin {
    width: 25%; }
    .grid-25.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-25.no-margin:nth-child(4n) {
      margin-right: 0; }
    .grid-25.no-margin:last-child {
      margin-right: 0; }

  .gallery .grid-unit {
    width: 32.32323%; }
    .gallery .grid-unit:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .gallery .grid-unit:nth-child(3n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child {
      margin-right: 0; }

  .content-pad-right {
    padding-right: 4%;
    /* Use (or don't) as necessary. */ }

  .content-pad-left {
    padding-left: 4%; } }
/*!////////////////////////////////////////////////
// THEME
/////////////////////////////////////////////////*/
/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.test {
  min-height: 100px;
  background-color: gray; }

/*!////////////////////////////////////////////////
// Short Hand
/////////////////////////////////////////////////*/
/*!////////////////////////////////////////////////
// General
/////////////////////////////////////////////////*/
@media screen and (max-width: 499px) {
  body {
    font-size: 90%; } }

.wrap {
  max-width: 1280px;
  padding: 0 10px;
  height: auto;
  margin: 0 auto; }
  @media screen and (max-width: 480px) {
    .wrap {
      padding: 0;
      width: 93%; } }

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

img {
  max-width: 100%;
  height: auto; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.25em;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px; }
  @media screen and (max-width: 653px) {
    h1 {
      display: block;
      width: 100%;
      margin-left: 0; } }
  h1 span {
    font-size: 1.25em; }

h2 {
  font-weight: normal; }

h3 {
  font-weight: normal;
  font-size: 1.875em; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: normal; }

ul {
  list-style-type: none; }

/*!////////////////////////////////////////////////
// Header
/////////////////////////////////////////////////*/
.header-container {
  background-color: #424242;
  width: 100%;
  height: auto; }

.header-top {
  padding: 40px 0; }

.relative-container {
  position: relative; }

.nav-container {
  background-color: #cd292e;
  width: 100%;
  height: auto; }
  .nav-container nav {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    width: 80%; }
    @media screen and (max-width: 1107px) {
      .nav-container nav {
        width: 100%; } }
  .nav-container a {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    margin-right: 3%;
    padding: 15px;
    display: inline-block;
    text-transform: uppercase;
    position: relative; }
    @media screen and (max-width: 918px) {
      .nav-container a {
        padding: 15px 10px;
        margin-right: 1%; } }
    @media screen and (max-width: 659px) {
      .nav-container a {
        width: 100%;
        padding: 10px;
        margin: 0; } }
  .nav-container a:hover {
    background-color: white;
    color: #424242; }
  .nav-container .dropdown-container {
    display: inline-block;
    margin-right: 3%; }
    @media screen and (max-width: 659px) {
      .nav-container .dropdown-container {
        width: 100%; } }
    @media screen and (max-width: 659px) {
      .nav-container .dropdown-container {
        width: 100%;
        margin: 0; } }
  .nav-container .dropdown {
    position: absolute;
    z-index: 10;
    background-color: #cd292e;
    display: inline-block;
    top: 51px;
    left: 120px;
    display: none; }
    @media screen and (max-width: 659px) {
      .nav-container .dropdown {
        position: relative;
        left: 0;
        top: 0; } }
    .nav-container .dropdown a {
      display: block;
      padding: 10px 15px;
      margin-right: 0; }
      @media screen and (max-width: 659px) {
        .nav-container .dropdown a {
          padding: 5px 40px; } }
  .nav-container .dropdown-container:hover > a {
    background-color: white;
    color: #424242; }
  .nav-container .dropdown-container:hover .dropdown {
    display: block; }

.search-container {
  float: right;
  display: inline-block;
  padding-top: 12px; }
  @media screen and (max-width: 522px) {
    .search-container {
      display: none; } }
  @media screen and (max-width: 1107px) {
    .search-container {
      position: absolute;
      margin-bottom: 10px;
      bottom: 0;
      right: 0; } }
  @media screen and (max-width: 812px) {
    .search-container {
      position: relative;
      float: none; } }
  .search-container input {
    font-style: italic; }
  @media screen and (max-width: 1107px) {
    .search-container .search-input {
      width: 100px; } }
  @media screen and (max-width: 812px) {
    .search-container .search-input {
      width: 150px; } }

.logo-container {
  display: inline-block;
  width: 100%; }
  @media screen and (max-width: 653px) {
    .logo-container {
      text-align: center; } }
  .logo-container img {
    display: inline-block; }
  .logo-container h2 {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 1.875em;
    float: right;
    margin-top: 35px;
    padding-right: 10px; }
    @media screen and (max-width: 865px) {
      .logo-container h2 {
        float: none;
        margin-top: 0;
        padding: 0; } }

.submit-input {
  background: url("../img/search.png") no-repeat center;
  background-size: cover;
  width: 40px;
  height: 28px;
  border: none; }

/*!////////////////////////////////////////////////
// Gallery
/////////////////////////////////////////////////*/
.home__gallery-header-container {
  position: absolute;
  bottom: 100px;
  width: 35%; }
  @media screen and (max-width: 1190px) {
    .home__gallery-header-container {
      width: 45%; } }
  @media screen and (max-width: 1050px) {
    .home__gallery-header-container {
      bottom: 40px; } }
  @media screen and (max-width: 952px) {
    .home__gallery-header-container {
      width: 50%; } }
  @media screen and (max-width: 872px) {
    .home__gallery-header-container {
      font-size: 70%; } }
  @media screen and (max-width: 644px) {
    .home__gallery-header-container {
      display: none; } }

@media screen and (min-width: 1501px) {
  > div {
    width: 40%; } }
.home__title {
  background: rgba(66, 66, 66, 0.9);
  text-align: right;
  padding: 10px 25px 10px 10px; }
  .home__title h2 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 2.25em; }

.home__sub-title {
  background: rgba(205, 41, 46, 0.9);
  padding: 5px;
  text-align: right;
  padding: 10px 25px 10px 10px;
  width: 95%; }
  .home__sub-title h3 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em; }

/*!////////////////////////////////////////////////
// R Slides
/////////////////////////////////////////////////*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 522px) {
    .rslides {
      display: none; } }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

.rslides1_s1 a, .rslides1_s2 a, .rslides1_s3 a, .rslides1_s4 a, .rslides1_s5 a, .rslides1_s6 a {
  width: 13px;
  height: 13px;
  border-radius: 7px;
  background-color: #aaaaaa;
  text-decoration: none;
  font-size: 1px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: -10px;
  display: inline-block;
  opacity: 0.75; }
  @media screen and (max-width: 522px) {
    .rslides1_s1 a, .rslides1_s2 a, .rslides1_s3 a, .rslides1_s4 a, .rslides1_s5 a, .rslides1_s6 a {
      display: none; } }

.rslides_here a {
  background-color: #424242; }

.rslides1_s1, .rslides1_s2, .rslides1_s3, .rslides1_s2, .rslides1_s3, .rslides1_s4 {
  display: inline-block; }

.rslides_tabs {
  margin-top: -35px;
  z-index: 5;
  position: relative;
  text-align: center; }
  @media screen and (max-width: 522px) {
    .rslides_tabs {
      display: none; } }

@media screen and (min-width: 1709px) {
  .rslides {
    height: 700px; }

  .home__gallery-header-container {
    bottom: 262px; } }
/*!////////////////////////////////////////////////
// Home
/////////////////////////////////////////////////*/
.cta-h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.25em;
  color: white;
  border-bottom: solid 2px #c5bd99;
  line-height: 0.95em;
  display: inline-block; }

.home__cta1 {
  background: #424242 url("../img/wagner-cta1.png") no-repeat bottom right;
  background-size: 65%; }
  @media screen and (max-width: 548px) {
    .home__cta1 {
      background: #424242; } }

.home__cta2 {
  background: #424242 url("../img/wagner-cta2.png") no-repeat bottom right;
  background-size: 57%; }
  @media screen and (max-width: 548px) {
    .home__cta2 {
      background: #424242; } }

section p {
  color: white;
  padding: 20px 120px 60px 0;
  font-size: 1.125em; }
  @media screen and (max-width: 1130px) {
    section p {
      padding: 20px 0 60px 0; } }
section .wrap .grid-half {
  margin-top: 70px; }
section .wrap .grid-half.no-margin:nth-child(n) {
  margin-bottom: 165px; }
  @media screen and (max-width: 994px) {
    section .wrap .grid-half.no-margin:nth-child(n) {
      margin-bottom: 120px; } }
  @media screen and (max-width: 548px) {
    section .wrap .grid-half.no-margin:nth-child(n) {
      margin-bottom: 70px; } }
@media screen and (max-width: 961px) {
  section .grid-half.no-margin {
    width: 100%; } }

@media screen and (min-width: 1390px) {
  .home__cta1 {
    background: #424242 url("../img/wagner-cta1.png") no-repeat bottom right;
    background-size: 55%; }

  .home__cta2 {
    background: #424242 url("../img/wagner-cta2.png") no-repeat bottom right;
    background-size: 50%; } }
@media screen and (min-width: 1714px) {
  .home__cta1 {
    background: #424242 url("../img/wagner-cta1.png") no-repeat top right;
    background-size: 55%; }

  .home__cta2 {
    background: #424242 url("../img/wagner-cta2.png") no-repeat top right;
    background-size: 50%; } }
::-webkit-input-placeholder {
  color: #424242;
  opacity: 1; }

:-moz-placeholder {
  color: #424242;
  opacity: 1; }

::-moz-placeholder {
  color: #424242;
  opacity: 1; }

:-ms-input-placeholder {
  color: #424242;
  opacity: 1; }

.cta__search div {
  position: relative;
  display: inline-block; }
.cta__search input {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 5px; }
.cta__search input::-webkit-input-placeholder,
.cta__search input::-webkit-input-placeholder {
  color: #424242; }
.cta__search input:-moz-placeholder, .cta__search input:-moz-placeholder {
  color: #424242; }
.cta__search input::-moz-placeholder,
.cta__search input::-moz-placeholder {
  color: #424242; }
.cta__search input:-ms-input-placeholder,
.cta__search input:-ms-input-placeholder {
  color: #424242; }
.cta__search .cta_submit-input {
  background: url("../img/cta-search.png") no-repeat center;
  background-size: cover;
  width: 40px;
  height: 30px;
  border: 2px white;
  position: absolute;
  right: 2px;
  top: 3px; }
  @media screen and (max-width: 499px) {
    .cta__search .cta_submit-input {
      width: 37px;
      height: 28px; } }

.cta__button a {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  background-color: white;
  padding: 10px 20px;
  color: #424242;
  font-weight: bold;
  border: 2px solid white; }
  @media screen and (max-width: 548px) {
    .cta__button a {
      display: inline-block;
      width: 100%;
      text-align: center; } }
.cta__button a:hover {
  background-color: #424242;
  color: white;
  border: 2px solid #c5bd99; }

.home__catalog {
  margin-top: 60px;
  margin-bottom: 60px; }
  .home__catalog h3 {
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif; }
  .home__catalog img {
    border: 2px solid #c5bd99;
    width: 100%; }
  .home__catalog p {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px; }

/*!////////////////////////////////////////////////
// Category Pages
/////////////////////////////////////////////////*/
.page__info {
  margin-top: 60px;
  margin-bottom: 60px; }
  .page__info h2 {
    font-family: "Playfair Display", serif;
    text-decoration: underline;
    font-size: 1.875em;
    margin-bottom: 60px; }
  .page__info p {
    margin-bottom: 20px; }
  @media screen and (max-width: 649px) {
    .page__info .grid-half {
      width: 100%;
      margin: 0;
      margin-bottom: 20px; } }

.page__catalog p {
  margin-bottom: 2px;
  font-weight: bold; }
.page__catalog img {
  width: 100%;
  height: auto; }
.page__catalog .grid-25 {
  margin-bottom: 60px; }
  @media screen and (max-width: 460px) {
    .page__catalog .grid-25 {
      text-align: center; } }

/*!////////////////////////////////////////////////
// Page Gallery
/////////////////////////////////////////////////*/
.thumbnail {
  width: 90px;
  height: 60px;
  display: inline-block;
  margin-right: 1%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid white; }
  @media screen and (max-width: 649px) {
    .thumbnail {
      width: 55px;
      height: 40px; } }

.thumbnail:hover {
  cursor: pointer;
  border: 2px solid #c5bd99; }

.thumbnail__active {
  border: 2px solid #c5bd99; }

#main-image {
  width: 100%; }

.thumbnail__container {
  text-align: center;
  margin-top: 20px; }

/*!////////////////////////////////////////////////
// Filters
/////////////////////////////////////////////////*/
.filter__field-container {
  position: relative; }

.div_dropdown_container, .div_dropdown_container2 {
  margin-top: 20px;
  background-color: #cd292e;
  color: white;
  padding: 5px 10px 5px 10px;
  font-style: italic;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.div_dropdown_list, .div_dropdown_list2 {
  background-color: #cd292e;
  color: white;
  display: inline-block;
  position: absolute;
  z-index: 5;
  top: 60px;
  left: 0; }
  .div_dropdown_list li, .div_dropdown_list2 li {
    padding: 5px 100px 5px 10px;
    cursor: pointer;
    border: 2px solid #cd292e; }
  .div_dropdown_list li:hover, .div_dropdown_list2 li:hover {
    background-color: white;
    color: #424242; }

.div_dropdown_list2 {
  top: 49px; }

.arrow_down {
  padding-left: 15px; }

.size_search-container {
  margin-top: 10px;
  margin-left: 20px;
  color: white;
  position: relative;
  display: inline-block;
  width: 65%; }
  @media screen and (max-width: 793px) {
    .size_search-container {
      display: block;
      margin-left: 0; } }
  .size_search-container p.header {
    background-color: #cd292e;
    padding: 5px 10px 5px 10px; }
  .size_search-container div {
    background-color: #cd292e;
    padding: 5px 10px 5px 10px; }
  .size_search-container p {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic; }
  .size_search-container input {
    width: 80px; }
  .size_search-container .search_submit-input {
    background: url("../img/search.png") no-repeat scroll center center/cover transparent;
    width: 40px;
    height: 28px;
    border: medium none; }

/*!////////////////////////////////////////////////
// Footer
/////////////////////////////////////////////////*/
footer {
  background-color: #cd292e;
  padding-top: 20px; }
  @media screen and (max-width: 893px) {
    footer .grid-half.no-margin {
      width: 100%; } }
  footer .wrap {
    position: relative;
    padding-bottom: 80px; }
    @media screen and (max-width: 606px) {
      footer .wrap {
        padding-bottom: 0; } }
  footer li, footer a, footer p {
    color: white;
    text-transform: uppercase;
    font-size: 0.875em; }
  footer a:hover {
    text-decoration: underline; }
  footer li.title, footer p {
    font-weight: bold;
    margin-bottom: 20px; }

.footer__search {
  position: relative; }
  .footer__search form {
    position: absolute;
    right: 0; }
    @media screen and (max-width: 663px) {
      .footer__search form {
        left: 0;
        position: relative; } }
  .footer__search .search-input {
    width: 250px; }

.footer__copyright {
  width: 98%;
  position: absolute;
  bottom: 0; }
  @media screen and (max-width: 606px) {
    .footer__copyright {
      position: relative;
      margin-top: 20px; } }
  .footer__copyright p {
    display: inline-block; }
    @media screen and (max-width: 606px) {
      .footer__copyright p {
        display: block; } }
  .footer__copyright a {
    font-size: 1em; }

.right {
  float: right; }
  @media screen and (max-width: 606px) {
    .right {
      float: none; } }

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/
/*! ==========================================================================
// Media Queries
// =========================================================================*/
/*! ==========================================================================
// Helper classes
// =========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/*! Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
// For best results, use your favorite clearfix here.
// -------------------------------------------------------------- */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

/*! ==========================================================================
// Print styles
// =========================================================================*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
