@import "resets.scss";
@import "mixins.scss";
@import "layout.scss";
@import "theme.scss";

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.test{
	min-height: 100px;
	background-color: gray;
}

/*!////////////////////////////////////////////////
// Short Hand
/////////////////////////////////////////////////*/
$font-body:'Open Sans', sans-serif;
$font-h1:'Playfair Display', serif;
$font-h2:'Playfair Display', serif;
$font-h3:'Open Sans', sans-serif;
$red:#cd292e;
$grey:#424242;
$base:#0e0e0e;
$white:#fff;
$gold:#c5bd99;
$hover-bg:#f17272;

/*!////////////////////////////////////////////////
// General
/////////////////////////////////////////////////*/
.wrap {
	max-width: 1280px;
	padding: 0 10px;
	height: auto;
	margin: 0 auto;

	@media screen and (max-width: 480px) {
		padding: 0 5px;
		width: 100%;
	}
}

a {
	text-decoration: none;
	@include prefix(transition, all 0.3s ease-in-out);
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-family: $font-h1;
	font-size: em(36px,$font-size);
	color: $white;
	font-weight: normal;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;

	@media screen and (max-width: 653px) {
		display: block;
		width: 100%;
	}

	span {
		font-size: 1.25em;
	}
}

h2 {
	font-weight: normal;
}

h3 {
	font-weight: normal;
	font-size: em(30px,$font-size);
}

p {
	font-family: $font-body;
	font-weight: normal;
}

ul {
	list-style-type: none;
}

/*!////////////////////////////////////////////////
// Header
/////////////////////////////////////////////////*/

.header-container {
	background-color: $grey;
	width: 100%;
	height: auto;
}

.header-top {
	padding:40px 0;
}


.relative-container {
	position: relative;
}


.nav-container {
	background-color: $red;
	width: 100%;
	height: auto;

	nav {
		margin: 0 auto;
		display: inline-block;
		text-align: left;
		width: 80%;

		@media screen and (max-width: 1107px) {
			width: 100%;
		}
	}

	a {
		color: $white;
		font-family: $font-body;
		font-size: em(16px,$font-size);
		margin-right: 3%;
		padding: 15px;
		display: inline-block;
		text-transform: uppercase;
		position: relative;

		@media screen and (max-width: 918px) {
			padding: 15px 10px;
			margin-right: 1%;
		}

		@media screen and (max-width: 659px) {
			width: 100%;
			padding: 10px;
		}
	}

	a:hover {
		background-color: $white;
		color: $grey;
	}

	.dropdown-container {
		display: inline-block;
		margin-right: 3%;

		@media screen and (max-width: 659px) {
			width: 100%;
		}
	}

	.dropdown {
		position: absolute;
		z-index: 10;
		background-color: $red;
		display: inline-block;
		top: 51px;
		left: 120px;
		display: none;

		@media screen and (max-width: 659px) {
			position: relative;
			left: 0;
			top: 0;
		}


		a {
			display: block;
			padding: 10px 15px;
			margin-right: 0;

			@media screen and (max-width: 659px) {
				padding: 5px 40px;
			}
		}
	}

	.dropdown-container:hover {
		> a {
			background-color: $white;
			color:$grey;
		}
		.dropdown {
			display: block;
		}


	}

}

.search-container {
	float: right;
	display: inline-block;
	padding-top: 12px;

	@media screen and (max-width: 1107px) {
		position: absolute;
		margin-bottom: 10px;
		bottom: 0;
		right: 0;
	}

	@media screen and (max-width: 812px) {
		position: relative;
		float: none;
	}

	input {
		font-style: italic;
	}

	.search-input {
		@media screen and (max-width: 1107px) {
			width: 100px;
		}


		@media screen and (max-width: 812px) {
			width: 150px;
		}
	}
}

.logo-container {
	display: inline-block;
	width: 100%;

	@media screen and (max-width: 653px) {
		text-align: center;
	}

	img {
		display: inline-block;
	}

	h2 {
		color: $white;
		font-family: $font-h1;
		font-size:em(30px,$font-size);
		float: right;
		margin-top: 35px;
		padding-right: 10px;

		@media screen and (max-width: 865px) {
			float: none;
			margin-top: 0;
		}
	}
}

.submit-input {
	background: url('../img/search.png') no-repeat center;
	background-size: cover;
	width: 40px;
	height: 28px;
	border:none;
}

/*!////////////////////////////////////////////////
// Gallery
/////////////////////////////////////////////////*/


.home__gallery-header-container {
	position: absolute;
	bottom: 100px;
	width: 35%;

	@media screen and (max-width: 1190px) {
		width: 45%;
	}

	@media screen and (max-width: 1050px) {
		bottom: 40px;
	}

	@media screen and (max-width: 952px) {
		width: 50%;
	}

	@media screen and (max-width: 872px) {
		display: none;
	}
}

@media screen and (min-width: 1501px) {
	> div {
		width: 40%;
	}
}


.home__title {
	background:rgba(66,66,66,0.9);
	text-align: right;
	padding: 10px 25px 10px 10px;

	h2 {
		color: $white;
		font-family: $font-body;
		font-size: em(36px,$font-size);
	}
}

.home__sub-title {
	background:rgba(205,41,46,0.9);
	padding: 5px;
	text-align: right;
	padding: 10px 25px 10px 10px;
	width: 95%;

	h3 {
		color: $white;
		font-family: $font-body;
		font-size: em(24px,$font-size);
	}
} 


/*!////////////////////////////////////////////////
// R Slides
/////////////////////////////////////////////////*/
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

.rslides1_s1 a, .rslides1_s2 a, .rslides1_s3 a {
	width: 13px;
	height: 13px;
	border-radius: 7px;
	background-color: #aaaaaa;
	text-decoration: none;
	font-size: 1px;
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: -10px;
	display: inline-block;
	opacity: 0.75;
}

.rslides_here a{
	background-color: $grey;
}

.rslides1_s1, .rslides1_s2, .rslides1_s3 {
	display: inline-block;
}

.rslides_tabs {
	margin-top: -35px;
	z-index: 5;
	position: relative;
	text-align: center;
}

@media screen and (min-width: 1709px) {
	.rslides {
		height: 700px;
	}

	.home__gallery-header-container {
		bottom: 262px;
	}
}
/*!////////////////////////////////////////////////
// Home
/////////////////////////////////////////////////*/
.cta-h2 {
	font-family: $font-h2;
	font-size: em(36px,$font-size);
	color: $white;
	border-bottom: solid 2px $gold;
	line-height: 0.95em;
	display: inline-block;
}

.home__cta1 {
	background: $grey url('../img/wagner-cta1.png') no-repeat bottom right;
	background-size: 65%;

	@media screen and (max-width: 548px) {
		background: $grey;
	}
}

.home__cta2 {
	background: $grey url('../img/wagner-cta2.png') no-repeat bottom right;
	background-size: 57%;

	@media screen and (max-width: 548px) {
		background: $grey;
	}
}

section {
	p {
		color: $white;
		padding: 20px 120px 60px 0;
		font-size: em(18px,$font-size);

		@media screen and (max-width: 1130px) {
			padding: 20px 0 60px 0;
		}
	}
	
	.wrap {
		.grid-half {
			margin-top: 70px;
		}

		.grid-half.no-margin:nth-child(n) {
			margin-bottom: 165px;

					@media screen and (max-width: 994px) {
			margin-bottom: 120px;
		}

			@media screen and (max-width: 548px) {
		margin-bottom: 70px;
	}
		}
	}

	@media screen and (max-width: 961px) {
		.grid-half.no-margin {
			width: 100%;
		}
	}
}



@media screen and (min-width: 1390px) {
	.home__cta1 {
		background: $grey url('../img/wagner-cta1.png') no-repeat bottom right;
		background-size: 55%;
	}
	.home__cta2 {
		background: $grey url('../img/wagner-cta2.png') no-repeat bottom right;
		background-size: 50%;
	}
}

@media screen and (min-width: 1714px) {
	.home__cta1 {
		background: $grey url('../img/wagner-cta1.png') no-repeat top right;
		background-size: 55%;
	}
	.home__cta2 {
		background: $grey url('../img/wagner-cta2.png') no-repeat top right;
		background-size: 50%;
	}
}

::-webkit-input-placeholder {
	color:    $grey;
	opacity: 1;
}
:-moz-placeholder {
	color:    $grey;
	opacity: 1;
}
::-moz-placeholder {
	color:    $grey;
	opacity: 1;
}
:-ms-input-placeholder {
	color:    $grey;
	opacity: 1;
}


.cta__search {
	
	div {
		position: relative;
		display: inline-block;
	}

	input {
		display: inline-block;
		font-family: $font-body;
		font-weight: bold;
		padding: 5px;
	}

	input::-webkit-input-placeholder,
	input::-webkit-input-placeholder {
		color: $grey;
	}

	input:-moz-placeholder, input:-moz-placeholder {
		color: $grey;
	}

	input::-moz-placeholder,
	input::-moz-placeholder {
		color: $grey;
	}

	input:-ms-input-placeholder,
	input:-ms-input-placeholder {
		color: $grey;
	}

	.cta_submit-input {
		background: url('../img/cta-search.png') no-repeat center;
		background-size: cover;
		width: 40px;
		height: 30px;
		border:2px white;
		position: absolute;
		right: 2px;
		top: 3px;
	}
}


.cta__button {
	a {
		font-family: $font-body;
		text-transform: uppercase;
		background-color: $white;
		padding: 10px 20px;
		color: $grey;
		font-weight: bold;
		border: 2px solid $white;

			@media screen and (max-width: 548px) {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	}


	a:hover {
		background-color: $grey;
		color: $white;
		border: 2px solid $gold; 
	}
}


.home__catalog {
	margin-top: 60px;
	margin-bottom: 60px;

	h3 {
		margin-bottom: 20px;
		font-family: $font-body;
	}

	img {
		border: 2px solid $gold;
		width: 100%;
	}

	p {
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 20px;
	}
}


/*!////////////////////////////////////////////////
// Category Pages
/////////////////////////////////////////////////*/
.page__info {

	margin-top: 60px;
	margin-bottom: 80px;

	h2 {
		font-family: $font-h2;
		text-decoration: underline;
		font-size: em(30px,$font-size);
		margin-bottom: 60px;
	}

	p {
		margin-bottom: 20px;
	}
}

.page__catalog {
	p {
		margin-bottom: 2px;
		font-weight: bold;
	}

	img {
		width: 100%;
		height: auto;
	}

	.grid-25 {
		margin-bottom: 60px;
	}
}


/*!////////////////////////////////////////////////
// Page Gallery
/////////////////////////////////////////////////*/

.thumbnail {
	width: 90px;
	height: 60px;
	display: inline-block;
	margin-right: 1%;
	@include prefix(transition, all 0.3s ease-in-out);
	border: 2px solid white;
}

.thumbnail:hover {
	cursor: pointer;
	border: 2px solid $gold;
}

#main-image {
	width: 100%;
}

.thumbnail__container {
	text-align: center;
	margin-top: 20px;
}

/*!////////////////////////////////////////////////
// Filters
/////////////////////////////////////////////////*/
.filter__field-container {
	position: relative;
}


.div_dropdown_container, .div_dropdown_container2 {
	margin-top: 20px;
	background-color: $red;
	color: $white;
	padding: 5px 10px 5px 10px;
	font-style: italic;
	cursor: pointer;
	display: inline-block;
	font-family: $font-body;
	font-weight: bold;
	text-transform: uppercase;
}

.div_dropdown_list, .div_dropdown_list2 {
	background-color: $red;
	color: $white;
	display: inline-block;
	position: absolute;
	z-index: 5;
	top: 60px;
	left: 0;

	li {
		padding: 5px 100px 5px 10px;
		cursor: pointer;
		border: 2px solid $red;
	}

	li:hover {
		background-color: $white;
		color: $grey;
	}
}

.div_dropdown_list2 {
	top: 49px;
}

.arrow_down {
	padding-left: 15px;
}

.size_search-container {
	margin-top: 10px;
	margin-left: 10px;
	color: $white;
	position: relative;
	display: inline-block;
	width: 60%;

	p.header {
		background-color: $red;
		padding: 5px 10px 5px 10px;
	}

	div {
		background-color: $red;
		padding: 5px 10px 5px 10px;
	}
	p {
		display: inline-block;
		font-family: $font-body;
		font-weight: bold;
		text-transform: uppercase;
		font-style: italic;
	}

	input {
		width: 60px;
	}

	.search_submit-input {
		background: url("../img/search.png") no-repeat scroll center center / cover transparent;
		width: 40px;
		height: 28px;
		border: medium none;
	}
}


/*!////////////////////////////////////////////////
// Footer
/////////////////////////////////////////////////*/
footer {
	background-color: $red;
	padding-top: 20px;

	.wrap {
		position: relative;
		padding-bottom: 80px;
	}

	li, a, p {
		color: $white;
		text-transform: uppercase;
		font-size: em(14px,$font-size); 
	}

	a:hover {
		text-decoration: underline;
	}

	li.title, p {
		font-weight: bold;
		margin-bottom: 20px;
	}
}

.footer__search {
	form {
		width: 100%;
		text-align: right;
	}

	.search-input {
		width: 50%;
	}
}

.footer__copyright {
	width: 98%;
	position: absolute;
	bottom: 0;

	p {
		display: inline-block;
	}

	a {
		font-size: 1em;
	}
}

.right {
	float: right;
}

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/



@import "shame.scss";
@import "helpers.scss";