@import "resets.scss";
@import "mixins.scss";
@import "layout.scss";
@import "theme.scss";

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.test{
	min-height: 100px;
	background-color: gray;
}

/*!////////////////////////////////////////////////
// Short Hand
/////////////////////////////////////////////////*/
$font-body:'Open Sans', sans-serif;
$font-h1:'Playfair Display', serif;
$font-h2:'Playfair Display', serif;
$font-h3:'Open Sans', sans-serif;
$red:#cd292e;
$grey:#424242;
$base:#0e0e0e;
$white:#fff;
$hover-bg:#f17272;

/*!////////////////////////////////////////////////
// General
/////////////////////////////////////////////////*/
.wrap {
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-family: $font-h1;
	font-size: em(36px,$font-size);
	color: $white;
	font-weight: normal;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;

	span {
		font-size: 1.25em;
	}
}

h2 {
	font-weight: normal;
}

h3 {
	font-weight: normal;
}

p {
	font-family: $font-body;
	font-weight: normal;
}

/*!////////////////////////////////////////////////
// Header
/////////////////////////////////////////////////*/

.header-container {
	background-color: $grey;
	width: 100%;
	height: auto;
}

.header-top {
	padding:40px 0;
}

.nav-container {
	background-color: $red;
	width: 100%;
	height: auto;

	nav {
		margin: 0 auto;
		display: inline-block;
		text-align: left;
		width: 80%;
	}

	a {
		color: $white;
		font-family: $font-body;
		font-size: em(16px,$font-size);
		margin-right: 3%;
		padding: 10px;
		display: inline-block;
		@include prefix(transition, all 0.2s ease-in-out);
		text-transform: uppercase;

	}

	a:hover {
		background-color: $hover-bg;
	}
}

.search-container {
	float: right;
	display: inline-block;
	padding-top: 8px;
}

.logo-container {
	display: inline-block;
	width: 100%;

	img {
		display: inline-block;
	}

	h2 {
		color: $white;
		font-family: $font-h1;
		font-size:em(30px,$font-size);
		float: right;
		margin-top: 35px;
	}
}

.submit-input {
	background: url('../img/search.png') no-repeat center;
	background-size: cover;
	width: 40px;
	height: 28px;
	border:none;
}

/*!////////////////////////////////////////////////
// Gallery
/////////////////////////////////////////////////*/

.home__gallery {
	width: 100%;
	height: 572px;
	background: url('../img/no-crush-rollers-header.jpg') no-repeat top;
	background-size: cover;
	position: relative;

	> div {
		position: absolute;
		bottom: 60px;
		width: 35%;
	}
}


.home__title {
	background:rgba(66,66,66,0.9);
	text-align: right;
	padding: 10px 25px 10px 10px;

	h2 {
		color: $white;
		font-family: $font-body;
		font-size: em(36px,$font-size);
	}
}

.home__sub-title {
	background:rgba(205,41,46,0.9);
	padding: 5px;
	text-align: right;
	padding: 10px 25px 10px 10px;
	width: 95%;

	h3 {
		color: $white;
		font-family: $font-body;
		font-size: em(24px,$font-size);
	}
} 

/*!////////////////////////////////////////////////
// Home
/////////////////////////////////////////////////*/
.cta-h2 {
	font-family: $font-h2;
	font-size: em(36px,$font-size);
	color: $white;
	text-decoration: underline;
}

.home__cta1 {
	background: url('../img/wagner-cta1.png') no-repeat bottom right;
	background-color: $grey;
}

section {
	p {
		color: $white;
		padding: 20px 20px 60px 0;
		font-size: em(18px,$font-size);
	}
	
	.wrap {
		.grid-half {
			margin-top: 60px;
		}

		.grid-half.no-margin:nth-child(n) {
			margin-bottom: 120px;
		}
	}
}

.cta__search {
	input {
		display: inline-block;
	}

	.cta_submit-input {
		background: url('../img/cta-search.png') no-repeat center;
		background-size: cover;
		width: 40px;
		height: 28px;
		border:2px white;
	}
}

/*!////////////////////////////////////////////////
// Category Pages
/////////////////////////////////////////////////*/



/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/



@import "shame.scss";
@import "helpers.scss";